<!DOCTYPE HTML>
<head>
  <script LANGUAGE="JavaScript">

  function getCookie(name){
    var cookieValue = null;
    if(document.cookie && document.cookie !==''){
      var cookies = document.cookie.split(';');
      for (var i=0;i<cookies.length;i++){
        var cookie =jQuery.trim(cookies[i]);

        if(cookie.substring(0,name.length+1)===(name+'=')){
          cookieValue=decodeURIComponent(cookie.substring(name.length+1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken=getCookie('csrftoken');

  function insertAlbum() {

        var atitle = document.getElementById("title").value;

        if (atitle == "") {
            alert("제목을 넣어 주세요.");
            document.getElementById("title").focus();
            return false;
        }

        var ufile = document.getElementById("ufile").value;

        if (ufile == "") {
            alert("사진을 넣어 주세요.");
            return false;
        }


        document.getElementById("frmAlbum").submit();
  }
  </script>
</head>
<body>
<div class="container">
  <form method="POST" enctype="multipart/form-data" action="/board_newWrite" id="board">
    {% csrf_token %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr style="height:45px;border-top:solid 1px #dddddd;">
        <td><input type="hidden" name="key" id="key" value={{key}}></td>
      </tr>
      <tr style="height:45px;border-top:solid 1px #dddddd;">
        <td width="20%" align="center">제목</td>
        <td width="80%" align="left"><input type="input" placeholder="제 목" name="title" id="title" style="width:100%;"></td>
      </tr>
      <tr style="height:45px;border-top:solid 1px #dddddd;">
        <td width="20%" align="center">이미지</td>
        <td width="80%" align="left">
          <input type = "file" name="ufile" id="ufile" >
        </td>
      </tr>
      <tr style="height:45px;border-top:solid 1px #dddddd;">
        <td width="20%" align="center">내용</td>
        <td width="80%" align="left"><textarea name="explain" id="explain" style="width:100%;" rows="5"></textarea></td>
      </tr>
      <tr style="height:45px;border-top:solid 1px #dddddd;" align="center">
        <td width="100%" colspan="2">
          <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:10px;" onclick="insertAlbum()">저장</button>
        </td>
      </tr>
    </table>
  </form>
</div> <!-- /container -->
</body>
</html>