<!DOCTYPE HTML>
<head>
  <script LANGUAGE="JavaScript">

  function getCookie(name){
    var cookieValue = null;
    if(document.cookie && document.cookie !==''){
      var cookies = document.cookie.split(';');
      for (var i=0;i<cookies.length;i++){
        var cookie =jQuery.trim(cookies[i]);

        if(cookie.substring(0,name.length+1)===(name+'=')){
          cookieValue=decodeURIComponent(cookie.substring(name.length+1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken=getCookie('csrftoken');

  function changePassword(){

    memberpwd=document.getElementById("password").value;
    if(memberpwd ==""){
      alert("비밀번호가 비었습니다.");
      document.getElementById("password").focus();
      return false;
    }

    memberpwd2=document.getElementById("password2").value;
    if(memberpwd2 ==""){
      document.getElementById("password2").focus();
      return false;
    }

    if(memberpwd!=memberpwd2){
      alert("비밀번호가 일치하지않습니다.");
      document.getElementById("password2").focus();
      return false;
    }

    memberkey=document.getElementById("key").value;

    var strurl="member_changePassword?key=" +memberkey+"&password="+memberpwd;
    //alert(strurl);
    //return false;

    xhr= new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if(xhr.readyState == 4){
        var data = xhr.responseText;

        var obj = JSON.parse(data);
        alert(obj.result_msg);
        location.href="/";
      }
    };

    xhr.open("POST",strurl);
    xhr.setRequestHeader("X-CSRFToken",csrftoken);
    xhr.send(null);
  }

  function changeName(){
    membername=document.getElementById("name").value;
    if(membername ==""){
      alert("이름이 비었습니다.");
      document.getElementById("name").focus();
      return false;
    }

    memberkey=document.getElementById("key").value;

    var strurl="member_changeName?key=" +memberkey+"&name="+membername;
    //alert(strurl);
    //return false;

    xhr= new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if(xhr.readyState == 4){
        var data = xhr.responseText;

        var obj = JSON.parse(data);

        if(obj.flag=='1'){
          alert(obj.result_msg);
        }
        else{
          alert(obj.result_msg);
          location.href="/";
        }
      }
    };

    xhr.open("POST",strurl);
    xhr.setRequestHeader("X-CSRFToken",csrftoken);
    xhr.send(null);
  }
  </script>
</head>
<body>
<div class="container">
  <input type="hidden" id="key" value={{key}} />
  <div class="form-group">
    <td>
      <label for="password">비밀번호 변경</label>
      <input type="text" id="password" name="password" placeholder="변경할 비밀번호">
      <input type="text" id="password2" name="password2" placeholder="재입력">
    </td>
    <button onclick="changePassword()">변경</button>
    <br>
    <td>
      <label for="name">이름 변경</label>
      현재이름: {{name}}
      <input type="text" id="name" name="name" placeholder="변경할 이름">
    </td>
    <button onclick="changeName()">변경</button>
  </div>
</div> <!-- /container -->
</body>
</html>