<!DOCTYPE HTML>
<head>
  <script LANGUAGE="JavaScript">

  function getCookie(name){
    var cookieValue = null;
    if(document.cookie && document.cookie !==''){
      var cookies = document.cookie.split(';');
      for (var i=0;i<cookies.length;i++){
        var cookie =jQuery.trim(cookies[i]);

        if(cookie.substring(0,name.length+1)===(name+'=')){
          cookieValue=decodeURIComponent(cookie.substring(name.length+1));
          break;
        }
      }
    }
    return cookieValue;
  }

  var csrftoken=getCookie('csrftoken');

  function login(){
    memberid=document.getElementById("id").value;
    if(memberid ==""){
      alert("아이디가 비었습니다.");
      document.getElementById("id").focus();
      return false;
    }

    memberpwd=document.getElementById("password").value;
    if(memberpwd ==""){
      alert("비밀번호가 비었습니다.");
      document.getElementById("password").focus();
      return false;
    }

    var strurl="member_login?id=" +memberid+"&password="+memberpwd;
    //alert(strurl);
    //return false;

    xhr= new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if(xhr.readyState == 4){
        var data = xhr.responseText;

        var obj = JSON.parse(data);

        if(obj.flag=='1'){
          alert(obj.result_msg);
        }
        else{
          alert(obj.result_msg);
          location.href="/";
        }
      }
    };

    xhr.open("POST",strurl);
    xhr.setRequestHeader("X-CSRFToken",csrftoken);
    xhr.send(null);
  }
  </script>
</head>
<body>
<div class="container">
  <input type="hidden" id="idcheck" value="0"/>
  <div class="form-group">
    <td>
      <label for="id">아이디</label>
      <input type="text" id="id" name="id" placeholder="아이디">
    </td>
    <td>
      <label for="password">비밀번호</label>
      <input type="text" id="password" name="password" placeholder="비밀번호">
    </td>
  </div>
  <button onclick="login()">로그인</button>
</div> <!-- /container -->
</body>
</html>