<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
        thead {
            background-color:#cecece;
        }

        .content {
            max-width:500px;
            margin: auto;
            padding:10px;
        }

        .header {
            text-align: center;
        }

        .board {
            width: 100%
        }

        .even_bgcolor {
            background-color:#e8efff;
        }
    </style>
<body>
    <div class="content">
        <div class="header">
            <h2>나의 생장일지</h2>
        </div>
        <div style="text-align:right">
            <form action="/board_write" id="page",method="post">
                <input type="hidden" name="flag" id="flag" value=1>
                <input type="submit" value="글쓰기" id="">
            </form>
        </div>
        유저 전달 확인용: {{context.name}}
        <table class="board">
            <thead>
                <tr class="header">
                    <th style="width:10%;">순번</th>
                    <th style="width:60%">제목</th>
                    <th style="width:30%">작성일자</th>
                </tr>
            </thead>
            <tbody>
            {% if rsBoard %}
                {% for data in rsBoard %}
                <tr class="{% if forloop.counter|divisibleby:2 %}even_bgcolor{% endif %}">
                    <td style="text-align:center;">{{ forloop.counter }}</td>
                    <td>
                        <a href="{%url 'board_detail' key=data.key flag=1 %}">{{ data.title }}</a>
                    </td>
                    <td>{{ data.date|date:'Y-m-d' }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                   작성된 게시글이 없습니다.
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>